/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  
  padding:8px;
  transition: all 0.3s ease;
  color: white;
  width: min-content;
  
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  
  transform: scale(1.2);
  
}

